* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;

}
h1, p{
    color: white;
}

.background{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.panorama {
    position: relative;
    font-family: 'Aton', sans-serif;
    height: 40%;
    width: 100%;
    z-index: 1;
    background-color: aqua;
    
}
.degradado-pan {
    position: relative;
    top: 0%;
    height: 100%;
    width: 100%;
    z-index: 3;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
    
}
.poster-panorama {
    position: relative;
    top: -100%;
    left: -5%;
    width: 1300px;
    height: 700px;
    z-index: 2;

}

.title{
    font-family: 'Aton', sans-serif;
    position: relative;
    top: -275%;
    left: 30%;
    color: white;
    z-index: 4;
    font-size: 5rem;
}

.seat-selection {
    position: relative;
    width: 100%;
    height: 50%;
    bottom: 70%;
    background-color: rgb(61, 61, 61);
    z-index: 1;
}

.footer {
    position: relative;
    height: 30%;
    width: 100%;
    bottom: 70%;
    z-index: 1;
    background-color: black;
}

.info-selection {
    position: relative;
    left: 6%;
    bottom: 20%;
    width: 200px;
    height: 70%;
    z-index: 2;
    background-color: rgb(43, 43, 43);
}
.poster{
    position: relative;
    bottom: 22%;
}

.boleto {
    position: relative;
    outline-color: white;
    bottom: 20%;
}